
*{
box-sizing:border-box;
font-family:"Segoe UI",Arial,sans-serif;
}

body{
margin:0;
background:#f4f8f5;
color:#17351f;
display:flex;
}


.sidebar{
width:260px;
height:100vh;
background:#073b25;
color:white;
padding:30px 20px;
position:fixed;
}


.brand h2{
font-size:18px;
}

.brand small{
opacity:.7;
}


nav{
margin-top:40px;
}


nav a{
display:block;
padding:15px;
margin-bottom:8px;
border-radius:10px;
color:#d7eee0;
}


nav .active{
background:#159447;
color:white;
}



main{
margin-left:260px;
padding:30px;
width:100%;
}



header{
display:flex;
justify-content:space-between;
}


input{
width:55%;
padding:14px;
border-radius:12px;
border:1px solid #ddd;
}


.profile{
background:white;
padding:15px 25px;
border-radius:12px;
}



.hero{
margin-top:25px;
}



.summary{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:20px;
}


.card,.job,.completed{
background:white;
padding:25px;
border-radius:18px;
box-shadow:0 8px 25px rgba(0,0,0,.06);
margin:15px 0;
}



.job{
border-left:6px solid #159447;
}



.job-header{
display:flex;
justify-content:space-between;
}



.badge{
background:#dff6e7;
color:#12823d;
padding:6px 14px;
border-radius:20px;
font-weight:bold;
}


.field{
background:#e7f1ff;
color:#135cb3;
}


.cost{
background:#fff4d6;
padding:15px;
border-radius:12px;
}


button{
background:#12823d;
color:white;
border:none;
padding:12px 18px;
border-radius:10px;
}



.approved{
color:#159447;
}


.completed{
background:#e5e9e7;
color:#7c8580;
line-height:2.5;
}


@media(max-width:900px){
.sidebar{display:none}
main{margin:0}
.summary{grid-template-columns:1fr}
}
